---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">See also my <a href="{{ site.author.googlescholar }}">Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign current_year = "" %}
{% for post in site.publications reversed %}
  {% assign py = post.date | date: "%Y" %}
  {% if py != current_year %}
    <h2 class="pub-year">{{ py }}</h2><hr />
    {% assign current_year = py %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
